#e1_19151 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:526px;
	position:absolute;
}
#e1_19224 { 
	background-color:rgba(220.48034191131592, 220.48034191131592, 220.48034191131592, 1);
	opacity:1;
	width:1170px;
	height:310px;
	position:absolute;
	left:135px;
	top:80px;
}
#e1_19225 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:270px;
	height:40px;
	position:absolute;
	left:0px;
	top:32px;
}
#e1_19283 { 
	background-color:rgba(255, 234.00000125169754, 167.00000524520874, 1);
	opacity:1;
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:99px;
	border-top-right-radius:99px;
	border-bottom-left-radius:99px;
	border-bottom-right-radius:99px;
}
#e1_19284 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:11px;
	height:20px;
	position:absolute;
	left:14px;
	top:10px;
}
#e1_19285 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:40px;
	height:40px;
	position:absolute;
	left:77px;
	top:0px;
}
#e1_19286 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:12px;
	height:13px;
	position:absolute;
	left:18px;
	top:16px;
}
#e1_19287 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:4px;
	height:12px;
	position:absolute;
	left:10px;
	top:17px;
}
#e1_19288 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:4px;
	height:4px;
	position:absolute;
	left:10px;
	top:10px;
}
#e1_19289 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:40px;
	height:40px;
	position:absolute;
	left:153px;
	top:0px;
}
#e1_19290 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:21.988801956176758px;
	height:21.996543884277344px;
	position:absolute;
	left:9px;
	top:9px;
}
#e1_19291 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:3.5799999237060547px;
	height:10.399999618530273px;
	position:absolute;
	left:20.564401626586914px;
	top:13.992141723632812px;
}
#e1_19292 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:3.580000400543213px;
	height:10.399999618530273px;
	position:absolute;
	left:15.844401359558105px;
	top:15.612142562866211px;
}
#e1_19293 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:10.399999618530273px;
	height:3.580000400543213px;
	position:absolute;
	left:13.98440170288086px;
	top:15.852142333984375px;
}
#e1_19294 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:10.399999618530273px;
	height:3.5799999237060547px;
	position:absolute;
	left:15.604401588439941px;
	top:20.572141647338867px;
}
#e1_19295 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:40px;
	height:40px;
	position:absolute;
	left:230px;
	top:0px;
}
#e1_19296 { 
	opacity:1;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:22px;
	height:17.943681716918945px;
	position:absolute;
	left:9px;
	top:11px;
}
#e1_19298 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:270px;
	height:48px;
	position:absolute;
	left:600px;
	top:152px;
}
#e1_19309 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:270px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_19310 { 
	background-color:rgba(193.7999975681305, 193.7999975681305, 193.7999975681305, 1);
	opacity:0.23999999463558197;
	width:270px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e1_19301 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:238px;
	height:32px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:32px;
}
#e1_19311 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:40px;
	height:40px;
	position:absolute;
	left:226px;
	top:4px;
}
#e1_19312 { 
	opacity:1;
	border:2px solid rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:16px;
	height:6px;
	position:absolute;
	left:12px;
	top:23px;
}
#e1_19313 { 
	opacity:1;
	border:2px solid rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:16px;
	top:11px;
}
#e1_19315 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:370px;
	height:80px;
	position:absolute;
	left:600px;
	top:230px;
}
#e1_19326 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:370px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_19327 { 
	background-color:rgba(193.7999975681305, 193.7999975681305, 193.7999975681305, 1);
	opacity:0.23999999463558197;
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:370px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e1_19318 { 
	color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	opacity:1;
	width:338px;
	height:48px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0.20000000298023224;
	line-height:32px;
}
#e1_19328 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:40px;
	height:40px;
	position:absolute;
	left:326px;
	top:4px;
}
#e1_19329 { 
	opacity:1;
	border:3px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:10px;
	top:12px;
}
#e1_19330 { 
	opacity:1;
	border:3px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:16px;
	top:10px;
}
#e1_19332 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:270px;
	height:48px;
	position:absolute;
	left:900px;
	top:152px;
}
#e1_19343 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:270px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_19344 { 
	background-color:rgba(193.7999975681305, 193.7999975681305, 193.7999975681305, 1);
	opacity:0.23999999463558197;
	width:270px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e1_19335 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:238px;
	height:32px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:32px;
}
#e1_19345 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:40px;
	height:40px;
	position:absolute;
	left:226px;
	top:4px;
}
#e1_19346 { 
	opacity:1;
	border:2px solid rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:10px;
	top:12px;
}
#e1_19347 { 
	opacity:1;
	border:2px solid rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	width:20px;
	height:7px;
	position:absolute;
	left:10px;
	top:14px;
}
#e1_19352 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:170px;
	height:80px;
	position:absolute;
	left:1000px;
	top:230px;
}
#e1_19358 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:170px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
#e1_19359 { 
	box-shadow:0px 8px 24px rgba(38.0000015348196, 50.000000819563866, 56.000000461936, 0.10000000149011612);
	background-color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	opacity:1;
	width:170px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e1_19354 { 
	box-shadow:0px 2px 4px rgba(37.85256564617157, 49.812393486499786, 55.792307406663895, 0.1599999964237213);
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:138px;
	height:64px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0.25;
	line-height:36px;
}
#e1_19234 { 
	color:rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	opacity:1;
	width:570px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:2.5;
	line-height:undefined;
}
#e1_19235 { 
	color:rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	opacity:1;
	width:570px;
	height:24px;
	position:absolute;
	left:600px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:2.5;
	line-height:undefined;
}
#e1_19236 { 
	color:rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
	opacity:1;
	width:570px;
	height:40px;
	position:absolute;
	left:600px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:-0.5;
	line-height:48px;
}
#e1_19237 { 
	color:rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	opacity:1;
	width:570px;
	height:24px;
	position:absolute;
	left:0px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:2.5;
	line-height:undefined;
}
#e1_19238 { 
	color:rgba(173.40000182390213, 173.40000182390213, 173.40000182390213, 1);
	opacity:1;
	width:570px;
	height:24px;
	position:absolute;
	left:600px;
	top:112px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:2.5;
	line-height:undefined;
}
#e1_19239 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:170px;
	height:24px;
	position:absolute;
	left:0px;
	top:152px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:24px;
}
#e1_19240 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:170px;
	height:24px;
	position:absolute;
	left:0px;
	top:192px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:24px;
}
#e1_19241 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:170px;
	height:24px;
	position:absolute;
	left:0px;
	top:232px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:24px;
}
#e1_19242 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:170px;
	height:24px;
	position:absolute;
	left:200px;
	top:152px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:24px;
}
#e1_19243 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:170px;
	height:24px;
	position:absolute;
	left:200px;
	top:192px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:24px;
}
#e1_19244 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:170px;
	height:24px;
	position:absolute;
	left:200px;
	top:232px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:24px;
}
#e1_19245 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:170px;
	height:24px;
	position:absolute;
	left:400px;
	top:152px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:24px;
}
#e1_19246 { 
	color:rgba(45.00000111758709, 52.000000700354576, 54.00000058114529, 1);
	opacity:1;
	width:170px;
	height:24px;
	position:absolute;
	left:400px;
	top:192px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:24px;
}
#e1_19370 { 
	transform: rotate(-180deg);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:545px;
	position:absolute;
	left:1440px;
	top:967px;
}
#e1_19371 { 
	transform: rotate(-54.26255862842672deg);
	background-color:rgba(255, 234.00000125169754, 167.00000524520874, 1);
	opacity:1;
	width:1102.395263671875px;
	height:1504.166015625px;
	position:absolute;
	left:-284.0845947265625px;
	top:393.6834716796875px;
}
